.main
  .main__header
    .main__header__groupname
      = @group.name
      .main__header__groupname__member
        = "Member : "
        - @group.users.each do |user|
          = user.name
    = link_to 'Edit', edit_group_path(@group), class: "main__header__edit"
  .main__comments
    .main__comments__info
      .main__comments__info--username
      .main__comments__info--date
    .main__comments__comment
      = render @messages
  .main__form
    = form_for [@group, @message] do |f|
      .main__form__new_message
        = f.text_field :content, class: 'main__form__new_message__box', placeholder: 'type a message'
        .main__form____new_message__picture
          = f.label :image, class: 'main__form__new_message__picture--label' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'main__form__new_message__send'